<div class="container">
  <div class="row">
    <div class="col">
      <div class="masonry">
        <div class="grid" *ngFor="let item of HPData | async">
          <img [src]="item.image" class="card-img-top">
          <div class="grid__body">
            <div class="relative">
              <h1 class="grid__title">{{item.name}}</h1>
              <p class="grid__author">{{item.gender}}</p>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
